body {
    padding: 0;
}

.thumbs .thumb,
.thumbs .thumb img {
    cursor: pointer;
    display: inline-block;
    margin: 4px 5px;
    vertical-align: middle;
    width: 300px;
}

.lightboxes {
    background: rgba(10, 10, 10, 0.9);
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 100vh;
    transition: .2s ease;
    white-space: nowrap;
    width: 100%;
    z-index: 999;
}

.lightbox-item {
    display: inline-block;
    height: 100%;
    position: relative;
    user-select: none;
    width: 100%;
}

.lightbox-item img {
    border: 10px solid white;
    display: block;
    left: 50%;
    max-height: 80vh;
    max-width: 80vw;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lightboxes #indicator {
    bottom: 10px;
    color: white;
    font-family: "Merriweather", serif;
    font-size: 17pt;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.lightboxes-nav {
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 100vh;
    transition: .2s ease;
    width: 100%;
    z-index: 99999;
}

.lightboxes-nav .nav-prev {
    cursor: pointer;
    height: 190px;
    left: 40px;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 999;
}

.lightboxes-nav .nav-prev span {
    background: white;
    display: block;
    height: 10px;
    transition: .2s ease;
    width: 80px;
}

.lightboxes-nav .nav-prev span:first-of-type {
    transform: translateY(57px) rotate(-60deg);
}

.lightboxes-nav .nav-prev span:last-of-type {
    transform: translateY(112px) rotate(60deg);
}

.lightboxes-nav .nav-prev:hover span:first-of-type {
    transform: translateY(54px) rotate(-70deg);
}

.lightboxes-nav .nav-prev:hover span:last-of-type {
    transform: translateY(115px) rotate(70deg);
}

.lightboxes-nav .nav-next {
    cursor: pointer;
    height: 190px;
    position: absolute;
    right: 40px;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 999;
}

.lightboxes-nav .nav-next span {
    background: white;
    display: block;
    height: 10px;
    transition: .2s ease;
    width: 80px;
}

.lightboxes-nav .nav-next span:first-of-type {
    transform: translateY(57px) rotate(60deg);
}

.lightboxes-nav .nav-next span:last-of-type {
    transform: translateY(112px) rotate(-60deg);
}

.lightboxes-nav .nav-next:hover span:first-of-type {
    transform: translateY(54px) rotate(70deg);
}

.lightboxes-nav .nav-next:hover span:last-of-type {
    transform: translateY(115px) rotate(-70deg);
}

.lightboxes-nav .close {
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 999;
}

.lightboxes-nav .close span {
    background: white;
    display: block;
    height: 7px;
    width: 50px;
}

.lightboxes-nav .close span:first-of-type {
    transform: translateY(21px) rotate(45deg);
}

.lightboxes-nav .close span:last-of-type {
    transform: translateY(15px) rotate(-45deg);
}