/* Global */
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

#mobile-menu {
    display: none;
}

table {
    background: rgba(90, 90, 90, 0.05);
    border-spacing: 0;
    overflow-y: auto;
    white-space: nowrap;
}

th {
    text-align: left;
}

th, td {
    padding: 10px;
}

tr:nth-child(odd) {
    background: rgba(90, 90, 90, 0.1);
}

tr:first-of-type {
    background: rgba(90, 90, 90, 0.4);
}

h2 {
    margin-bottom: 10px;
}

nav {
    font-weight: 500;
    letter-spacing: 1px;
}

nav > ul {
    text-align: right;
    box-shadow: 0 0 10px rgba(90, 90, 90, 0.1);
}

nav > ul > li {
    display: inline-block;
    border-right: 1px solid rgba(90, 90, 90, 0.1);
}

nav:not(#edit-pages) > ul > li:first-of-type {
    border-left: 1px solid rgba(90, 90, 90, 0.1);
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    padding: 15px 15px;
    display: block;
    transition: background, color 100ms ease;
}

nav > ul > li.active > a {
    background: rgba(90, 90, 90, 0.1);
}

nav > ul > li > a:hover {
    background: rgba(90, 90, 90, 0.1);
    color: black;
}

nav:not(#edit-pages) > ul > li:last-of-type > a {
    background: rgba(90, 90, 90, 0.8);
    color: white;
}

nav:not(#edit-pages) > ul > li:last-of-type > a:hover {
    background: rgba(90, 90, 90, 0.9);
}

nav:not(#edit-pages) > ul > li > ul {
    display: none;
    position: absolute;
    text-align: left;
    list-style: none;
    background: white;
    box-shadow: 0 0 10px rgba(90, 90, 90, 0.1);
    z-index: 9;
}

nav:not(#edit-pages) > ul > li:hover > ul {
    display: block;
}

nav:not(#edit-pages) > ul > li:last-of-type:hover > ul {
    right: 0;
}

nav:not(#edit-pages) > ul > li > ul > li > a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    border-top: 1px solid rgba(90, 90, 90, 0.1);
}

nav:not(#edit-pages) > ul > li > ul > li:first-of-type > a {
    border-top: none;
}

nav:not(#edit-pages) > ul > li > ul > li:last-of-type > a {
    border-bottom: 3px solid rgba(90, 90, 90, 0.8);
}

nav:not(#edit-pages) > ul > li > ul > li > a:hover,
nav:not(#edit-pages) > ul > li > ul > li.active > a {
    background: rgba(90, 90, 90, 0.1);
}

label {
    user-select: none;
}

label, input:not([type="checkbox"]), button {
    display: block;
    width: 100%;
    border: none;
}

input:not([type="checkbox"]), select {
    border-radius: 5px;
    width: calc(100% - 22px);
    padding: 5px 10px;
    border: 1px solid rgba(90, 90, 90, 0.5);
    font-size: 16px;
    transition: box-shadow 200ms ease;
    user-select: none;
    margin: 5px 0;
}

input[type="file"] {
    padding: 0;
    border: none;
    border-radius: 0;
    margin-left: 10px;
}

input:focus, select:focus {
    box-shadow: 0 0 5px rgba(90, 90, 90, 0.2);
}

button {
    padding: 7px 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border: none;
    background: rgba(90, 90, 90, 0.8);
    cursor: pointer;
    letter-spacing: 1px;
    color: white;
    transition: background, box-shadow 100ms ease;
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgba(90, 90, 90, 0.2);
    font-size: 16px;
    width: fit-content;
}

button:hover {
    background: rgba(90, 90, 90, 0.9);
    box-shadow: 0 0 8px 2px rgba(90, 90, 90, 0.1);
}

button.warning {
    background: #eb3030;
}

button.warning:hover {
    background: #c30000;
}

.italic {
    font-style: italic;
}

.page-content {
    padding: 20px;
}

.bg-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(90, 90, 90, 0.7);
    transition: 200ms ease;
}

.bg-popup.hidden {
    opacity: 0;
    pointer-events: none;
}

.bg-popup > .popup {
    position: fixed;
    top: 50vh;
    left: 50vw;
    text-align: center;
    transform: translate(-50%, -50%);
    background: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(90, 90, 90, 0.1);
    padding: 50px;
    max-width: calc(100vw - 150px);
}

.bg-popup > .popup > .success,
.bg-popup > .popup > .error {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    font-size: 50px;
}

.bg-popup > .popup > .success {
    border: 8px solid #29ce29;
    color: #29ce29;
    font-size: 42px;
}

.bg-popup > .popup > .error {
    border: 8px solid red;
    color: red;
}

.bg-popup > .popup > .success > i,
.bg-popup > .popup > .error > i {
    vertical-align: middle;
}

.bg-popup > .popup > .success > i {
    margin-top: 18px;
}

.bg-popup > .popup > .error > i {
    margin-top: 14px;
}

.bg-popup > .popup > .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 30px;
}

.bg-popup > .popup > .close > span {
    display: block;
    height: 5px;
    width: 30px;
    background: rgb(90, 90, 90);
}

.bg-popup > .popup > .close > span:first-of-type {
    transform: translateY(13px) rotate(45deg);
}

.bg-popup > .popup > .close > span:last-of-type {
    transform: translateY(9px) rotate(-45deg);
}

/* Login */
#login-form {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50vw;
    max-width: 600px;
    min-width: 500px;
}

#login-form label,
#login-form input,
#login-form button {
    display: block;
    width: 100%;
    border: none;
}

#login-form input {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(90, 90, 90, 0.2);
    width: calc(100% - 22px);
}

#login-form input:focus {
    box-shadow: 0 0 3px 2px rgba(90, 90, 90, 0.2);
}

#login-form button {
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 100ms ease;
    cursor: pointer;
    margin-top: 20px;
}

#login-form button:hover {
    box-shadow: 0 0 3px 2px rgba(90, 90, 90, 0.2);
}

#login-form label {
    margin-top: 10px;
    margin-bottom: 2px;
}

span#username-menu {
    font-size: 14px;
    color: rgba(90, 90, 90, 0.7);
    text-align: right;
    width: 100%;
    display: block;
    margin-top: 2px;
}

input.error {
    border: 1px solid red;
    color: red;
}