.wrapper-calendar-options {
    height: 0;
    overflow: hidden;
}

.wrapper-calendar-options.visible {
    height: auto;
}

form.calendar-form {
    max-width: 600px;
}

form.calendar-form input[type="checkbox"] {
    margin-left: 5px;
    vertical-align: middle;
}

form.calendar-form > button {
    margin-top: 10px;
}

div#added-events-wrapper {
    width: 100%;
    overflow-x: auto;
}