#change-password-form {
    display: none;
}

#change-password-form.visible {
    display: block;
}

#user-info {
    padding-bottom: 0;
    width: max-content;
}

#user-info > div {
    border-bottom: 1px solid rgb(90, 90, 90);
    padding: 20px 30px;
}

#user-info > div:last-of-type {
    border: none;
}

#user-info span {
    width: 110px;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}

#user-info span.title {
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
}

#change-password {
    display: inline-block;
}

#pag-add-user form {
    max-width: 600px;
}