.uploaded-photos img {
    max-width: 230px;
    max-height: 120px;
    padding: 20px;
}

.uploaded-photos .img-wrapper {
    position: relative;
    display: inline-block;
}

.uploaded-photos .img-wrapper .overlay-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    opacity: 0;
    transition: opacity 200ms ease;
}

.uploaded-photos .img-wrapper:hover .overlay-wrapper {
    opacity: 1;
}

.uploaded-photos .img-wrapper .overlay-wrapper .actions {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    text-align: center;
}

.uploaded-photos .img-wrapper .overlay-wrapper .actions form,
.uploaded-photos .img-wrapper .overlay-wrapper .actions button {
    display: inline-block;
    border-radius: 5px;
}

.uploaded-photos .img-wrapper .fullscreen-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: rgba(90, 90, 90, 0.8);
    z-index: -9;
    pointer-events: none;
}

.uploaded-photos .img-wrapper .fullscreen-wrapper.visible {
    opacity: 1;
    z-index: 9;
    pointer-events: all;
}

.uploaded-photos .img-wrapper .fullscreen-wrapper img {
    padding: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 80vh;
}

.uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar {
    width: calc(100% - 40px);
    text-align: right;
    padding: 20px;
}

.uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar form,
.uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar button {
    display: inline-block;
    border-radius: 5px;
    width: 40px;
    height: 38px;
}

.uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar > button {
    background: white;
    color: black;
}

.uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar > button:hover {
    background: rgb(220, 220, 220);
}

.uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar form {
    margin-right: 10px;
}

#gal-add-category form input,
#gal-add-category form button,
#gal-add-photos form input,
#gal-add-photos form button,
#gal-add-photos form select {
    width: auto;
    display: inline-block;
}

#gal-add-category input:not([type="checkbox"]) {
    user-select: none;
    font-size: 17px;
    margin: 5px 0;
}

#gal-add-photos form button {
    display: block;
    margin-top: 10px;
}