#edit-pages {
    position: absolute;
    top: 50px;
    height: calc(100% - 50px);
    width: 180px;
}

#edit-pages ul::-webkit-scrollbar {
    width: 5px;
}

#edit-pages ul::-webkit-scrollbar-track {
    background: rgba(90, 90, 90, 0.05);
}

#edit-pages ul::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 0.1);
}

#edit-pages ul {
    text-align: left;
    width: unset;
    height: 100%;
    overflow-y: auto;
}

#edit-pages ul li {
    display: block;
    padding-right: 30px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.1);
    border-right: none;
    border-left: none;
}

#edit-pages ul li:last-of-type a,
#edit-pages ul li.active a,
#edit-pages ul li:hover a {
    background: none;
    color: black;
    position: relative;
}

#edit-pages ul li:hover > a:after,
#edit-pages ul li.active > a:after {
    content: "»";
    position: absolute;
    right: -15px;
}

#edit-pages ul li ul {
    width: calc(100% + 10px);
    border-left: 20px solid rgba(90, 90, 90, 0.1);
    box-shadow: none;
}

#edit-pages ul li ul li:first-of-type {
    border-top: 1px solid rgba(90, 90, 90, 0.1);
}

#edit-pages ul li ul li:last-of-type {
    border-bottom: none;
}

#edit-pages ul li ul li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: black;
}

#edit-pages-content {
    width: calc(100vw - 220px);
    position: absolute;
    right: 0;
    height: calc(100vh - 90px);
}

button.save-page {
    position: absolute;
    top: 20px;
    right: 20px;
}

.pages-form {
    display: flex;
    flex-direction: column;
}

.pages-form .page-layout-row {
    display: flex;
    flex-direction: row;
}

textarea.page-content-textarea {
    width: calc(100% - 10px);
    min-height: calc(100vh - 160px);
    resize: none;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid rgba(90, 90, 90, 0.5);
    border-radius: 5px;
    font-size: 16px;
    transition: box-shadow 200ms ease;
    flex: 1;
}

textarea.page-content-textarea:focus {
    box-shadow: 0 0 10px rgba(90, 90, 90, 0.1);
}

textarea.page-content-textarea.aside {
    flex: 0.4;
    margin-left: 20px;
}

textarea.page-content-textarea.below {
    min-height: 60px;
}

.pages-form .page-layout-row.with-below textarea.page-content-textarea {
    min-height: calc(100vh - 250px);
}