#pag-add-blog-post form {
    margin-top: 20px;
}

#pag-add-blog-post form input[type="checkbox"],
#pag-edit-blog-post form input[type="checkbox"],
#pag-add-blog-post form label,
#pag-edit-blog-post form label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#pag-add-blog-post form textarea,
#pag-edit-blog-post form textarea {
    resize: none;
    padding: 5px 10px;
    border: 1px solid rgba(90, 90, 90, 0.5);
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px);
    height: 20em;
}

#pag-edit-blog-post form textarea {
    height: 6em;
}

#pag-add-blog-post form textarea::-webkit-scrollbar,
#pag-edit-blog-post form textarea::-webkit-scrollbar {
    width: 6px;
}

#pag-add-blog-post form textarea::-webkit-scrollbar-track,
#pag-edit-blog-post form textarea::-webkit-scrollbar-track {
    border-radius: 4px;
    background: rgba(90, 90, 90, 0.1);
}

#pag-add-blog-post form textarea::-webkit-scrollbar-thumb,
#pag-edit-blog-post form textarea::-webkit-scrollbar-thumb {
    border-radius: 4px;
    cursor: default;
    background: rgba(90, 90, 90, 0.3);
}

#pag-add-blog-post form textarea::-webkit-scrollbar-thumb:hover,
#pag-edit-blog-post form textarea::-webkit-scrollbar-thumb:hover {
    background: rgba(90, 90, 90, 0.5);
}

#pag-add-blog-post button {
    margin-top: 10px;
}

.input-button-wrapper {
    display: flex;
    margin-bottom: 5px;
}

.input-button-wrapper > input,
.input-button-wrapper > button {
    display: inline-block;
}

.input-button-wrapper > button {
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.edit-post-wrapper {
    padding: 30px 0;
    border-bottom: 2px solid rgba(90, 90, 90, 0.5);
}

.edit-post-wrapper:first-of-type {
    padding-top: 0;
}

.edit-post-wrapper:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.post-wrapper {
    padding: 20px 0;
    width: max-content;
}

.post-wrapper:first-of-type {
    padding-top: 0;
}

.post-wrapper:last-of-type {
    padding-bottom: 0;
}

.post-wrapper div.title {
    font-weight: 900;
    font-size: 20px;
}

ul.comments,
ul.comments ul {
    list-style: none;
    max-width: calc(100vw - 100px);
}

ul.comments ul {
    margin-left: 50px;
}

ul.comments li {
    padding: 10px 0;
}

.name-email-time-wrapper {
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.5);
    position: relative;
}

.name-email-time-wrapper > span {
    display: inline-block;
    font-weight: 200;
    font-size: 14px;
    padding: 0 15px;
    border-right: 1px solid rgba(90, 90, 90, 0.5);
}

.name-email-time-wrapper > span:first-of-type {
    padding-left: 0;
}

.name-email-time-wrapper > span:last-of-type {
    padding-right: 0;
    border-right: none;
}

.name-email-time-wrapper form {
    position: absolute;
    right: -50px;
    top: 0;
}