@media only screen and (max-width: 768px) {
    body {
        width: 100vw !important;
        overflow-x: hidden !important;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #mobile-menu {
        display: block;
        transition: 200ms ease;
        position: absolute;
        top: 11px;
        right: 20px;
        z-index: 99;
        width: 40px;
        height: 40px;
    }

    #mobile-menu > span {
        display: block;
        width: 40px;
        height: 4px;
        background: rgb(100, 100, 100);
        margin-top: 5px;
        transition: 200ms ease;
    }

    #mobile-menu > span:first-of-type {
        margin-top: 9px;
    }

    #mobile-menu.open > span:nth-of-type(1) {
        transform: translateY(9.5px) rotate(45deg);
    }

    #mobile-menu.open > span:nth-of-type(2) {
        opacity: 0;
    }

    #mobile-menu.open > span:nth-of-type(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav:not(#edit-pages) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: white;
        overflow-y: auto;
        transition: 200ms ease;
    }

    #mobile-menu.open + nav {
        left: 0;
    }

    nav:not(#edit-pages) > ul > li {
        display: block;
    }

    nav:not(#edit-pages) > ul > li > a {
        text-align: left;
        padding: 15px 30px;
        font-size: 18px;
        border: none;
    }

    nav:not(#edit-pages) > ul > li:last-of-type > a {
        background: unset;
        color: unset;
    }

    nav:not(#edit-pages) > ul > li > ul {
        display: block;
        position: unset;
        box-shadow: none;
        padding-bottom: 10px;
    }

    nav:not(#edit-pages) > ul > li > ul > li > a {
        border: none;
        padding: 10px 0 10px 50px;
    }

    nav:not(#edit-pages) > ul > li > ul > li:last-of-type > a {
        border-bottom: none;
    }

    nav:not(#edit-pages) > ul > li:last-of-type > a:hover {
        background: rgba(90, 90, 90, 0.1);
    }

    span#username-menu {
        text-align: left;
    }

    #login-form {
        width: 80vw;
        min-width: unset;
    }

    .bg-popup > .popup {
        width: max-content;
    }

    #gal-add-photos form select {
        display: block;
    }

    #gal-add-photos form input[type="file"] {
        margin-left: 0;
    }

    #user-info {
        width: 100%;
    }

    #user-info > div > span {
        display: block;
        margin: 0 !important;
        padding: 0;
        text-align: left !important;
    }

    #user-info button {
        margin-top: 10px;
    }

    .uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar {
        text-align: left;
        display: flex;
        flex-flow: row;
    }

    .uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar > button {
        order: 1;
    }

    .uploaded-photos .img-wrapper .fullscreen-wrapper .toolbar form {
        order: 2;
        margin-left: 10px;
        margin-right: 0;
    }

    .name-email-time-wrapper > span {
        display: block;
        padding: 0;
        border: none;
    }

    ul.comments,
    ul.comments ul {
        max-width: calc(100vw - 40px);
    }

    ul.comments ul {
        margin-left: 0;
        border-left: 20px solid rgba(90, 90, 90, 0.2);
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .name-email-time-wrapper form {
        position: absolute;
        top: 0;
        right: 0;
    }

    .name-email-time-wrapper {
        position: relative;
        width: 100%;
    }

    .name-email-time-wrapper form button {
        font-size: 15px;
        width: 30px;
        height: 30px;
        padding: unset;
    }
}