form {
    padding-block-start: 45px;
}

header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

header button {
    margin-right: 20px;
}

fieldset {
    border: 2px solid #424242;
    border-radius: 3px;
    margin-block-start: 5px;
}

fieldset fieldset {
    margin-bottom: 10px;
}

fieldset label#gal-cat,
fieldset button:not(#pag-btn-add-page):not(.add-sub-page) {
    display: none;
}

legend {
    padding: 3px 10px;
    background: #424242;
    color: white;
    border-radius: 2px;
}

label {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select {
    width: 200px;
    box-sizing: border-box;
    margin: 5px 0;
}

button {
    background: #b2b2b2;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    transition: 200ms ease;
}

button:hover {
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
    label {
        width: 100%;
    }

    input, select {
        width: 50%;
    }
}
